body {
    background-color: cadetblue;
    margin-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
    align-items: center;
}

p, div {
    font-size: 22px;
    font-weight: 600;
}

#menu {
    flex-direction: row;
    justify-content: center;
}

button {
    width: 100px;
    height: 40px;
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}